<li id="micropost-<%= micropost.id %>">
    <!-- Gravatarへのリンクを表示 -->
    <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
    <!-- 投稿したユーザーの詳細画面へのリンクを表示 -->
    <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
    <!-- 投稿を表示 -->
    <span class="content"><%= micropost.content %></span>
    <!-- -->
    <span class="timestamp">
        <!-- 投稿時間を"Posted XX minutes ago"のように表記-->
        Posted <%= time_ago_in_words(micropost.created_at) %> ago.
        <!-- ログインユーザーが投稿者と一致する場合 -->
        <% if current_user == micropost.user %>
            <!-- リンクにdeleteメソッドを指定してmicropostのURLにリクエスト -->
            <%= link_to "delete", micropost, method: :delete,
                                             data: { confirm: "You sure?" } %>
        <% end %>
    </span>
</li>