<!DOCTYPE html>
<html>
<head>
  <title>Microposts</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <!-- フラッシュメッセージを出力（ハッシュのキー：message_typeと値：message）-->
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>">
        <%= message %>
      </div>
    <% end %>
    <!-- 部分テンプレート（erbファイル）：パーシャルの読み込み -->
    <%= yield %>
  </div>
</body>
</html>
